* {
  margin: 0px;
  padding: 0px;
}
body {
}

/* navbar */
.navbar_start_bg {
  background: #aa076b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #61045f,
    #aa076b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #61045f, #aa076b);
  padding: 15px;
}

/* The image on the top " opoku Isaiah Clifford"*/
.cliffford {
  color: #61045f;
}

/* The animations when you hover the card */
.feature-box-1 {
  padding: 32px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  margin: 15px 0;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  top: 0;
}

/* The main  animations when you hover the card */
.feature-box-1 * {
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}

/* The icons on the card  */
.feature-box-1 .icon {
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: #aa076b;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 22px;
  font-size: 27px;
}
.feature-box-1 .icon i {
  line-height: 70px;
}

/* The h1  text in the  in the what we do  */
.feature-box-1 h5 {
  color: #20247b;
  font-weight: 600;
}
.feature-box-1 p {
  margin: 0;
}

/* The  feature after effect  */
.feature-box-1:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  border-radius: 10px;
  width: 0;
  background: #aa076b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #61045f,
    #aa076b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #61045f, #aa076b);
  padding: 15px;
  z-index: -1;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}

/* The  th hover effect   */

.feature-box-1:hover {
  top: -5px;
}
.feature-box-1:hover h5 {
  color: #ffffff;
}
.feature-box-1:hover p {
  color: rgba(255, 255, 255, 0.8);
}
.feature-box-1:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  left: 0;
  right: auto;
}
.section {
  padding: 100px 0;
  position: relative;
}
.section-title {
  padding-bottom: 45px;
}

.section-title h2 {
  font-weight: bolder;
  color: #20247b;
  font-size: 45px;
  margin: 0 0 15px;
  border-left: 5px solid #aa076b;
  padding-left: 15px;
}

/* first jumbotron  */

.jumbotron_first {
  position: relative;
  z-index: 0;
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: #030303c4;; /* fallback for old browsers */
 
}

.jumbotron_first:after {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  z-index: -1;
  background: url(/IMAGES/jumbtronwimage.jpg) no-repeat bottom center scroll;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

   /* The h1 text in the  jumbotron   */
 .Cliff_tech{
   color:#ffffff;
   font-weight: bolder;
   letter-spacing: 15px;
 }



.card_first_bg{
  background: #aa076b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #61045f,
    #aa076b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #61045f, #aa076b);
  margin-top: auto;
}

  /* The h1 text (name) in the card   */
.crad_text{
   color: #20247b;
   
}



  /* Exctive card  */
  .contact-box {
    background-color: #ffffff;
    border: 1px solid #e7eaec;
    padding: 20px;
    margin-bottom: 20px;
  }
  .contact-box > a {
    color: inherit;
  }
  .contact-box.center-version {
    border: 1px solid #e7eaec;
    padding: 0;
  }
  .contact-box.center-version > a {
    display: block;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  .contact-box.center-version > a img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .contact-box.center-version address {
    margin-bottom: 0;
  }
  .contact-box .contact-box-footer {
    text-align: center;
    background-color: #ffffff;
    border-top: 1px solid #e7eaec;
    padding: 15px 20px;
  }
  a{
      text-decoration:none !important;    
  }

  .img-circle {
    width: 100%;
    clip-path: circle(50% at 50% 50%);
    object-fit: cover;
}


