* {
  margin: 0px;
  padding: 0px;
}
body {
}

/* navbar */
.navbar_start_bg {
  background: #aa076b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #61045f,
    #aa076b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #61045f, #aa076b);
  padding: 15px;
}


/*=========== navbar  items =================*/
.nav-item{
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link:hover{
   color: #fd9104 !important;  
}



/* The image on the top " opoku Isaiah Clifford"*/
.cliffford {
  color: #61045f;
}



/* The animations when you hover the card */
.feature-box-1 {
  padding: 32px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  margin: 15px 0;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  top: 0;
}



/* The main  animations when you hover the card */
.feature-box-1 * {
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}




/* The icons on the card  */
.feature-box-1 .icon {
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: #aa076b;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 22px;
  font-size: 27px;
}
.feature-box-1 .icon i {
  line-height: 70px;
}

/* The h1  text in the  in the what we do  */
.feature-box-1 h5 {
  color: #20247b;
  font-weight: 600;
}
.feature-box-1 p {
  margin: 0;
}



/* The  feature after effect  */
.feature-box-1:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  border-radius: 10px;
  width: 0;
  background: #aa076b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #61045f,
    #aa076b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #61045f, #aa076b);
  padding: 15px;
  z-index: -1;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}



/* The  th hover effect   */

.feature-box-1:hover {
  top: -5px;
}
.feature-box-1:hover h5 {
  color: #ffffff;
}
.feature-box-1:hover p {
  color: rgba(255, 255, 255, 0.8);
}
.feature-box-1:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  left: 0;
  right: auto;
}
.section {
  padding: 100px 0;
  position: relative;
}
.section-title {
  padding-bottom: 45px;
}

.section-title h2 {
  font-weight: bolder;
  color: #20247b;
  font-size: 45px;
  margin: 0 0 15px;
  border-left: 5px solid #aa076b;
  padding-left: 15px;
}



/* first jumbotron  */

.jumbotron_first {
  position: relative;
  z-index: 0;
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: #20247b;
  margin-bottom: 50px; /* fallback for old browsers */
 
}





   /* The h1 text in the  jumbotron   */
 .Cliff_tech{
   color:#ffffff;
   font-weight: bolder;
   letter-spacing: 15px;
   font-family: 'Times New Roman', Times, serif;
 }


  /* =========== Partners Section  ============  */
.Card_heading{
  color: #aa076b;
  letter-spacing: 20px;
  display: grid;
  place-items: center;
  align-items: center;
  margin-bottom: 30px ;
  font-weight: bolder;
}
  /* The h1 text (name) in the card   */
.crad_text{
   color: #eeeeee;
   font-family:  sans-serif;
   
}
  .contact-box {
    background-color: #ffffff;
    border: 1px solid #e7eaec;
    padding: 20px;
    margin-bottom: 20px;
  }
  .contact-box > a {
    color: inherit;
  }
  .contact-box.center-version {
    border: 1px solid #e7eaec;
    padding: 0;
  }
  .contact-box.center-version  {
    display: block;
    background: #aa076b; 
    background: -webkit-linear-gradient(
      to right,
      #61045f,
      #aa076b
    ); 
    background: linear-gradient(to right, #61045f, #aa076b);
    margin-top: auto;
    padding: 20px;
    text-align: center;
    color: #e7eaec;
    height: 300px;
    border-radius: 5px;
      transition: transform 250ms;
  }
  
  .contact-box.center-version:hover {
    transform: translateY(-10px); 
  }
  
  .contact-box.center-version > a img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .contact-box.center-version address {
    margin-bottom: 0;
  }
  .contact-box .contact-box-footer {
    text-align: center;
    background-color: #ffffff;
    border-top: 1px solid #e7eaec;
    padding: 15px 20px;
  }
  a{
      text-decoration:none !important;    
  }

  .img-circle {
    width: 100%;
    clip-path: circle(50% at 50% 50%);
    object-fit: cover;
    background-color: #ffffffe5;
}
 


  /* ===========  The figure section  Contain the company values ============  */
  .figure_Section{
    margin-top: 50px;
  }
.figure_text{
  color: #aa076b;
}


.jumbotron_scond{
  background: #aa076b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #61045f,
    #aa076b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #61045f, #aa076b);
  color: rgb(212, 212, 212);
  position: relative;
  z-index: 0;
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
}


.Second_text{
  color: #ffffff;
} 



  /* ===========  THE PRICING SECTION  ============  */

.pt-inner {
  text-align: center;
}
.tile {
  background-color: #fff;
  margin-bottom: 30px;
  position: relative;
}
.tile {
  box-shadow: 0 1px 1px rgba(0,0,0,.07);
}
.pt-inner .pti-header {
  padding: 45px 10px 70px;
  color: #fff;
  position: relative;
  margin-bottom: 15px;
}
.bg-amber {
  background-color: #20247b!important;
}
.bg-green {
  background-color: #20247b!important;
}
.bg-cyan {
  background-color: #20247b!important;
}
.pt-inner .pti-header>h2 {
  margin: 0;
  line-height: 100%;
  color: #fff;
  font-weight: 100;
  font-size: 50px;
}
.pt-inner .pti-header>h2 small {
  color: #fff;
  letter-spacing: 0;
  vertical-align: top;
  font-size: 16px;
  font-weight: 100;
}
.pt-inner .pti-header .ptih-title {
  background-color: rgba(0,0,0,.1);
  padding: 8px 10px 9px;
  margin: 0 -10px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.pt-inner .pti-header .ptih-title {
  text-transform: uppercase;
}
.pt-inner .pti-body {
  padding: 0 23px;
}
.pt-inner .pti-body .ptib-item:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.pt-inner .pti-body .ptib-item {
  padding: 15px 0;
  font-weight: 400;
}
.pt-inner .pti-footer {
  padding: 10px 20px 30px;
}
.pt-inner .pti-footer>a {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  line-height: 60px;
  font-size: 30px;
}





  /* ===========  THE FOOTER SECTION  ============  */

body{margin-top:20px;}
.footer_area {
    position: relative;
    z-index: 1;
    overflow: hidden;
webkit-box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
    box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
    padding:60px;

    background-color: black;
    color: #fff;
}
.footer_area .row {
    margin-left: -25px;
    margin-right: -25px;
}


.single-footer-widget {
    position: relative;
    z-index: 1;
}
.single-footer-widget .copywrite-text a {
    color: #747794;
    font-size: 1rem;
}
.single-footer-widget .copywrite-text a:hover,
.single-footer-widget .copywrite-text a:focus {
    color: #3f43fd;
}
.single-footer-widget .widget-title {
    margin-bottom: 1.5rem;
}
.single-footer-widget .footer_menu li a {
    color: #747794;
    margin-bottom: 1rem;
    display: block;
    font-size: 1rem;
}
.single-footer-widget .footer_menu li a:hover,
.single-footer-widget .footer_menu li a:focus {
    color: #3f43fd;
}
.single-footer-widget .footer_menu li:last-child a {
    margin-bottom: 0;
}

.footer_social_area {
    position: relative;
    z-index: 1;
}
.footer_social_area a {
    border-radius: 50%;
    height: 40px;
    text-align: center;
    width: 40px;
    display: inline-block;
    background-color: #f5f5ff;
    line-height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right: 10px;
}
.footer_social_area a i {
    line-height: 36px;
}
.footer_social_area a:hover,
.footer_social_area a:focus {
    color: #ffffff;
}

@-webkit-keyframes bi-cycle {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

@keyframes bi-cycle {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}
ol li, ul li {
    list-style: none;
}

ol, ul {
    margin: 0;
    padding: 0;
}

.footer_soc{
  margin-top: 10px;
  display: grid;
  align-items: center;
  place-items: center;
}



