*{
    margin: 0px;
    padding: 0px;
}




html, body {
  height:100%;
 
  background-color: rgba(0, 0, 0, 0.65);
  color: rgb(0, 0, 0);
}

body:before {
  background: url(/IMAGES/aamusted-campus-pictures-overview-1.jpg) no-repeat center center fixed;
  background-position: center;
  background-size: cover;
  display: block; content:""; position: absolute; z-index:-1;
  top:0; left: 0; right: 0; height: 100%;
  opacity:.5;
}



body{
  
  margin-top:20px;
}
.card {
  margin-bottom: 1.5rem;
  box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e5e9f2;
  border-radius: .2rem;
}